* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.conteudo-de-cima {
    background: #EFC356;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: auto;
    
}


.conteudo-escrito {
    flex-direction: column;
}

.titulo-principal {
    color: #FFF;
    font-family: Lato;
    font-size: 10rem;
    font-style: normal;
    font-weight: 800;
    line-height: 88px;
    letter-spacing: 0.8px;
    padding-top: 50%;
    padding-bottom: 4%;
}

.paragrafo-principal {
    color: #FFF;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

.botao-unico {
    display: flex;
    position: relative;
    z-index: 2;
    padding: 24px 64px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: #7EB5E1;
    border: none;
    margin-top: 25px;

    /*Para o texto*/
    color: #FFF;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.conteudo-com-imagens {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}


.dog {
    position: relative;
    z-index: 4;
    top: 4%;
    right: 55%;
    width: 80%;
    /* Altere o tamanho conforme necessário */
    max-width: 200px;
    /* Defina um valor máximo para evitar tamanhos muito grandes em telas maiores */
    height: auto;
}

.dogao3 {
    position: relative;
    z-index: 3;
    width: auto;
    width: 100%;
    /* Altere o tamanho conforme necessário */
    max-width: 700px;
    /* Defina um valor máximo para evitar tamanhos muito grandes em telas maiores */
    height: auto;
    bottom: 10%;
}

.dogao {
    position: relative;
    z-index: 2;
    width: auto;
    bottom: 18%;
    left: 15%;
    width: 100%;
    /* Altere o tamanho conforme necessário */
    max-width: 500px;
    /* Defina um valor máximo para evitar tamanhos muito grandes em telas maiores */
    height: auto;

}

.dogao2 {
    position: relative;
    z-index: 5;
    width: 35%;
    bottom: 40%;
    left: 85%;
    height: auto;
    transform: scaleX(-1);

}

.patas-dos-fundos {
    position: absolute;
    z-index: 1;
    left: 18%;
    top: 65%;
    width: 20%;
    height: 20%;


}

.dog2 {
    position: absolute;
    z-index: 1;
    left: 81%;
    width: 20%;
    flex-wrap: wrap;
}



.conteudo-de-baixo1 {
    display: flex;
    align-items: center;
    position: relative;
    top: 130%;
    padding: 10px;
    align-items: flex-start;
    gap: 78px;
    border-radius: 24px;
    border: 1px solid #FFF;
    background: #EFEEEE;
    border: none;
    flex-wrap: wrap; /* Para jogar para proxima linha */
    z-index: 2;
    top: 55%;
}

.cachorro1 {
    display: flex;
    gap: 5px;
}

.conteudo-interno1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.brANCO{
height: 200px;
background-color: white;
}